@page
@model turfbooking.Pages.Admin.AddSlotModel
@{
    ViewData["Title"] = "Add Slot";
}

@if (Model.Ground != null)
{
    <h2>Add New Slot for @Model.Ground.GroundName</h2>
    <form method="post">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Slot.BookingDate"></label>
            <input asp-for="Slot.BookingDate" class="form-control" type="date" required />
            <span asp-validation-for="Slot.BookingDate" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Slot.StartTime"></label>
            <input asp-for="Slot.StartTime" class="form-control" type="time" required />
            <span asp-validation-for="Slot.StartTime" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Slot.EndTime"></label>
            <input asp-for="Slot.EndTime" class="form-control" type="time" required />
            <span asp-validation-for="Slot.EndTime" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Add Slot</button>
    </form>

}
else
{
    <div class="alert alert-danger">Ground not found.</div>
}
